*{
    margin: 0;
    padding: 0%;
}
body{
    /* background: url(./背景2.png) ; */
    background-color: #eaeaea;
    /* background-size: 100vh; */
}
.header{
    width: 100%;
    height: 65px;
}
#mulu{
    animation: mulu 5s infinite alternate;
    font-size: smaller;
    font-weight: normal;
}
.content{
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid pink ;
    border-radius: 15px;
}
legend{
    font-size: larger;
    font-weight: bold;
    color: rgb(0, 167, 167);
    padding: 0 5px;
    animation: slip 5s infinite linear alternate;
}
label,.ios{
    /* 去除点击时出现的蓝色背景 */
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    display: block;
    padding: 0 20px;
    margin: 5px;
    height: 40px;
    /* border: 2px solid rgb(99, 219, 213) ; */
    background-color: #fff;
    box-shadow: 0 5px 3px #7e7d7d;
    border-radius: 15px;
    /* background-color: rgb(99, 219, 213,.4); */
    cursor: pointer;
    line-height: 40px;
    font-weight:bold ;
    color: rgb(99, 33, 7);
}
.checkBox:checked + article>label,
.ios:hover
{
    background-color: #fafafa;
    transform: translateY(3px);
    box-shadow: 0px 3px 6px #7e7d7d;
    transition: .15s;
}
li>a{
    text-decoration: none;
    color: #095abe;
    border-radius: 8px;
    /* font-size: large; */
    /* box-shadow: #7e7d7d 0px 0px 3px; */
}
li>span{
    display: block;
    color: #69747f;
    font-size: smaller;
    text-align: end;
}
.item-box>label{
    background-color: #fafafa;
    transform: translateY(3px);
    box-shadow: 0px 0px 6px #7e7d7d;
    color: #2c3e50;
}
.li,.items{
    overflow: hidden;
    max-height: 0;
    padding: 0 20px;
    border:  3px solid rgb(175, 215, 236);
    border-top: none;
    border-bottom-width: 0;
    margin: 8px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    line-height: 25px;
    font-size: 90%;
    transition: all .7s ease;
    /* padding: 0 20px; */

}
.item-box{
    margin: 0 -15px;
}
.items{
    
    margin-top: -3px;
    padding-top: 5px;
    max-height: 100%;
    border:  2px solid rgb(85,118,123);
    border-bottom-width:1px ;
    border-top: none;
    transition: all .3s ease;
    padding-bottom: 5px;
    /* box-shadow:  0px -1px 10px #7e7d7d; */
}

.checkBox:checked + article .li
{
    max-height:150em;
    border-bottom-width:2px;
    transition: 2.5s ease;
    padding-bottom: 5px;
}
.con3{
    display: flex;
    justify-content: space-around;
}
ios{
    border: 2px solid rgb(99, 219, 213);
    border-radius: 15px;
    padding: 0 20px;
    margin: 5px;
    height: 35px;
}
.footer{
    margin: 10px;
    color: #2c3e50;
}
#tip{
    color: rgb(208, 34, 11);
    font-size: larger;
    font-weight: bold;
}
#mail>a{
    text-decoration: none;
    color: rgb(59, 137, 232);
}
.copy{
    border-top: 1px solid #dadada;
    text-align: center;
    font-weight: lighter;
    font-size: smaller;
    padding: 20px 0;
    padding-bottom: 10px;
}
@keyframes mulu{
  from{
      opacity: 0.3;
  }
  25%{
      color: rgb(164, 210, 71);
  }
  50%{
      color: rgb(141, 206, 238);
  }
  to{
      opacity: 1;
      color: rgb(146, 154, 77);
  }
}
@keyframes slip{
    0%{
        margin-left: 25px;
        /* left: 5%; */
    }
    50%{
        /* left: 50%; */
        margin-left: 20%;
    }
    100%{
        margin-left: 40%;
    }
}
#ps,#button1{
    display: inline-block;
    border: #2d9094 1px solid ;
    border-radius: 5px;
    color: #2c3e50;

}
#ps{
    width: auto;
    margin: 12px;
    padding: 5px;
}
.ps{
    
    width: auto;
    margin: 12px;
    padding: 5px;
    border: #2d9094 1px solid ;
    border-radius: 5px;
    color: #2c3e50;
}
#button1{
    padding: 3px;
    height: 29px;
    margin-left: -10px;  
    background-color: #3e3d67;  
    color: #dadada;    
}


/* ---------------------------------------------- */
/* 弹窗 */
.Alert{
    height: 100%;
    display: flex;
    justify-content:center;
    align-content: center;
}
#Alert{
    position: fixed;
    /* align-content: center; */
    top: 30%;
    z-index: 99999;
    border-radius: 20px;
    width: 250px;
    height: 20%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    /* 躲起来 */
    transform: translate(-1000%,-300%);
    transition: 1s ;
    box-shadow: 0px 0px 6px #7e7d7d;
    /* box-shadow: inset 0px 0px 6px #bbbbbb; */
    background-color: rgba(255, 255, 255, 0.8);

}
.Alert-top{
    height: 2rem;
    /* border-bottom:1px solid  #2c3e5e; */
    line-height: 2rem;
    /* background-color: rgb(77, 208, 223,.5); */
}
.Alert-content{
    border-bottom:1px solid  #c7ecf8;
    padding: 15px;
    /* background-color: rgb(56, 209, 171,.5); */
    flex: 1;
    text-align: center;
}
.Alert-buttom{
    text-align: center;
    /* background-color: rgb(77, 208, 223,.5); */
    /* padding: 5px 0; */
    height: 2rem;
}
.closeButton{
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 250px;
    height: 2rem;
    background-color: rgba(255, 255, 255, 0.7);
    border: 0px;
    box-shadow: inset 0px -3px 6px #bbbbbb;
}