:root{
    --barColor: rgb(33,44,66);
    --bcColor: rgb(90,90,90);
    --text: #a1a1a1;
}
.sidebar-top{
    background-color: var(--barColor);
    color: var(--text);
    border-bottom: 1px solid #303030;
}
.sidebar-content{
    background-color: var(--text);
    color: var(--barColor);
}
body{
    background-color: var(--bcColor);
}
.home-main{
    border-bottom: 1px solid #303030;
}
.button{
    color: var(--text);
}
.button:hover{
    box-shadow: 2px 4px 8px #2b2b2b;
}
.infor-box{
    background-color: var(--barColor) ;
    color: var(--text);
}
.infor-box:hover{
    box-shadow: 2px 4px 8px #2b2b2b;
}
.footer{
    border-top: 1px solid #303030;
    color: var(--text);
}
.left{
    background-color: var(--bcColor);
    border-right: 1px solid #303030;
    border-top: 1px solid #303030;
}
.left-label{
    color: black;
}
.csslist:checked + label{
    background-color: var(--text);
}
.welcome-head{
    background-color: var(--bcColor);
    color: black;
    border-bottom: #303030 1px solid;
}