:root{
    --text-weight: #2c3e50;
    --shadow-box: 2px 4px 8px #5f5f5f;
    --shadow-box2:3px 3px 6px #7d7d7d;
    --shadow-box3:0px 0px 6px #7d7d7d;
    --text:var(--text-weight);
    --shadow:var(--shadow-box);
    --shadow2:var(--shadow-box2);
    --shadow3:var(--shadow-box3);
    --front-color: #fafafa;
    --zhenxia: rgb(222,117,101);
    --falan: rgb(48,174,207);
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color:rgb(9, 88, 117);
}
#bg,#bg2{
    position: absolute;
    z-index: -5;
}
#app{
    height: 100%;

}
.header{
    height: 0;
}
.sidebar-top{
    display: flex;
    position: fixed;
    width: 100%;
    height: 3.6rem;
    border-bottom: 1px solid #dadada;
    align-items: center;
    background-color: #fafafa;
    z-index: 3;
}
.empty1{
    flex: 1;
}
.sidebar-top-title{
    padding: 0 20px;
    font-weight: bolder;
    font-size: large;
    cursor: pointer;
}

.sidebar-top-right{
    position: relative;
    padding: 0 10px;
    font-weight: lighter;
    cursor: pointer;
}
.sidebar-top-right:hover :first-child{
    font-weight: normal;
    font-size: 100.1%;
}
.sidebar-top-right:hover div{
    max-height: 100vh;
    padding: 10px;
    line-height: 20px;
    margin-top: 2px;
    transition: .2s;
}
.sidebar-content{
    box-shadow: 0px 0px 6px #7d7d7d;
    background-color:rgba(255, 255, 255, 0.3) ;
    position:absolute;
    white-space: nowrap;
    right: 10px;
    border-radius: 5px;
    max-height: 0;
    overflow: hidden;
    font-size: small;
    transition: .1s;
}
.home{
    top: 3.6rem;
}
.empty2{
    height: 3.6rem;
}
.home-main{
    margin: 30px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #dadada;
    align-items: center;
}
.pic{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    width: 255px;
    height: 255px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}
.pic>img{
    border-radius: 50%;
    width: 250px;
    height: 250px;
}
.pic::before{
    content: "";
    position: absolute;
    background: linear-gradient(rgb(175,215,236), rgb(85,118,123));
    width: 200%;
    height: 100%;
    z-index: -2;
    left: 40%;
    top: 40%;
    transform-origin: 0 0;
    -webkit-animation: zhuan 5s infinite linear;
            animation: zhuan 5s infinite linear;
}
.name{
    font-size: 300%;
    color: #2c3e50;
    cursor: default;
}
.intro{
    font-size: 150%;
    color: #2c3e50;
    margin-top: 2px;
    cursor: default;
}
.button{
    display: block;
    width: 7rem;
    height: 3.2rem;
    margin: 25px 0;
    border-radius: 10px;
    background-color: rgb(28, 40, 47);
    text-decoration: none;
    line-height: 3.2rem;
    font-size: larger;
    color: #eaeaea;
}

.button:hover{
    transform: scale(105%) translateY(-3px);
    box-shadow: 0px 4px 8px #5f5f5f;
    transition: .15s;
}

.main{
    height: calc(100%-3.6rem);
}

.footer{
    width: 100%;
    height: 150px;
    position: absolute;
    bottom: 0;
    left: 0;
}
#waves{
    display: block;
    height: 100%;
}


/* ----------响应式------------ */
@media only screen and (max-width: 900px){
    .pic>img{
        transform: scale(80%);
    }
    .pic{
        width: 205px;
    height: 205px;
    }
}

/* ---------动画---------- */
@-webkit-keyframes zhuan{
    to{
        transform: rotate(1turn);
    }
}
@keyframes zhuan{
    to{
        transform: rotate(1turn);
    }
}