:root{
    --text-weight: #2c3e50;
    --shadow-box: 2px 4px 8px #5f5f5f;
    --shadow-box2:3px 3px 6px #7d7d7d;
    --shadow-box3:0px 0px 6px #7d7d7d;
    --text:var(--text-weight);
    --shadow:var(--shadow-box);
    --shadow2:var(--shadow-box2);
    --shadow3:var(--shadow-box3);
    --front-color: #fafafa;
    --zhenxia: rgb(222,117,101);
    --falan: rgb(48,174,207);
}
body{
    color: #202e3c;
    overflow-x:hidden;
}
.sidebar-top-title{
    padding-left: 10px;
}
.top-menu{
    margin: 1px 0px 0px 10px;
    height: 17px;
    width: 23px;
    background-image: url(/others/bisai/images/menu.png);
    background-size: cover;
}
.top-menu:hover{
    transition: 0.1s;
    opacity: 0.5;
}
.empty3{
    position: fixed;
    width: 1px;
    height: 100%;
    z-index: 1;
}

.left{
    position: fixed;
    width: 240px;
    /* background-color: #fafafa; */
    height: 100vh;
    border-right: 1px solid #dadada;
    border-top: 1px solid #dadada;
    padding: 20px;
    padding-left: 0;
    left: -300px;
    transition: 0.3s;
    top: 1.6rem;
    background: rgb(255, 255, 255,0.4);
    backdrop-filter: blur(5px) saturate(50%);
}
.left-label{
    display: block;
    width: 90%;
    height: 1.8rem;
    cursor: pointer;
    margin-top: 10px;
    padding:10px 15px;
    line-height: 1.8rem;
    font-size: 1rem;
    font-weight: bold;
    color: #2c3e50;
}
#welcomeHtml{
    border: 0;
    margin-bottom: 20px;
    line-height: 1rem;
    text-align: left;
    width: 50%;
    background: rgba(255, 255, 255, 0);
    /* backdrop-filter: blur(5px) saturate(50%); */
}
#welcomeHtml:hover{
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    transition: .2s;
    font-weight: normal;
}
.left-checkbox:checked + .left-box>.left-label
{
    border-left: 6px solid var(--text);
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    height: auto;
    font-weight: normal;
}
.left-checkbox:checked + .left-box .left-list
{
    max-height: 100vh;
    padding: 10px 30px;
    transition: .4s;
}
.left-label{
    
}
.left-list{
    max-height: 0;
    display:block;
    overflow: hidden;
    height: 1rem;
    line-height: 1rem;
    text-decoration: none;
    border: 0;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    color: #2c3e50;
}

.csslist:checked + label{
    box-shadow: var(--shadow3);
    border-left: #2c3e50 4px solid;
    transition: .2s;
    background-color: #fff;
}

.main-box{
    /* display: grid;
    grid-template-columns: 281px 1fr; */
    /* position: absolute; */
    
    /* width: 100%; */
    /* top: 3.6rem; */
}
.right{
    /* height: 710px; */
    
}
.ifra{
     /* overflow: hidden; */
    /* border-style: unset; */
    display: block;
    height: 100%;
    color: #d0941c;
    overflow-y: scroll;
    /* vertical-align: top; */
    /* vertical-align:text-top(text-bottom); */
}

.right-box{   
    height: 0;
    width: 100%;
}
.right-box2{
    height: calc(92vh + 3px);
    width: 100%;
}
/* 上面这个容器设置一下先 */
.welcome-head{
    text-align: center;
    background-color: var(--front-color);
    height:4rem;
    padding: 20px;
    background: rgb(255, 255, 255,0.4);
    backdrop-filter: blur(5px) saturate(50%);
}
.shine{
    color: #36558b;
    animation: shine 1.5s ease-in-out infinite alternate;
}
.shine:nth-child(2){animation-delay: 0.2s;}
.shine:nth-child(3){animation-delay: 0.4s;}
.shine:nth-child(4){animation-delay: 0.8s;}
.shine:nth-child(5){animation-delay: 1s;}
.shine:nth-child(6){animation-delay: 1.2s;}
.shine:nth-child(7){animation-delay: 1.4s;}
.shine:nth-child(8){animation-delay: 1.6s;}
#welcome{
    height: calc (100vh);
    display: flex;
    flex-direction: column;
}
#welcome-content{
    display: flex;
    width: 100%;
    height: calc(100vh - 7.6rem - 40px);
    overflow: hidden;
    justify-content: space-between;
}
.bubbles{
    position: relative;
    display: flex;
    justify-content: center;
    flex: 1;
}
.bubble{
    transition: all 500ms;
    position: absolute;
}
.bubble:hover{
    box-shadow: inset -8px -8px 18px 18px rgba(78, 144, 155, 0.8),
    2px 3px 10px rgba(48, 83, 104,0.7);
}
pre{
    /* position: absolute; */
    background: #15141adf;
    width: 55%; 
    height: 100%;  
    color: #fff;
    opacity: 0;
    z-index: -1;
    transition: all 500ms;
    backdrop-filter: blur(5px);
    overflow-x: hidden;
}
/* 先把写代码的 pre 标签搞好试试 */
pre {
    color: #61ffca;
    margin: 0;
    font-size: 14px;
    line-height: 1.4;
    font-family: JetBrains Mono;
    box-sizing: border-box;
    padding: 24px 16px;
    margin-top: 0;
    overflow-y: auto;
}
/*
 *  STYLE 1
 */

pre::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

pre::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

pre::-webkit-scrollbar-thumb
{
	background-color: #dadada;
    border-radius: 10px;
    background-image: -webkit-linear-gradient(90deg,
	                                          rgba(0, 0, 0, 1) 0%,
											  rgba(0, 0, 0, 1) 25%,
											  transparent 100%,
											  rgba(0, 0, 0, 1) 75%,
											  transparent)
	/* border: 2px solid #555555; */
}

/* 不太喜欢斜体，变正好了 */
pre em {
    font-style: normal;
}

/* 这不得来给代码颜色高亮下 */
.selector, .selector .key {
    color: #f694ff;
}

.key, .comment {
    color: #edecee;
}

.value {
    color: #ffca85;
}

#welcome-box1{
    left: 8%;
    top: 80px;
}
#welcome-box2{
    left: 8%;
    top: 320px;
}
#welcome-box3{
    right: 8%;
    top: 80px;
}
#welcome-box4{
    right: 8%;
    top: 320px;
}

pre{
    /* opacity: 0; */
    /* display:none; */
}


.love{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    /* height: calc(100vh - 3.6rem); */
    overflow: hidden;
    z-index: -1;
    /* opacity: 0.5; */
    /* overflow-y: hidden; */
}
.aixin{
    position: absolute;
    width: 20px;
    height: 35px;
    border-radius: 20px 20px 0 0px;
    transform-origin: 0 100%;
    /* --loveColor:rgb(201, 44, 117); */
    /* background: linear-gradient(80deg,#e262d5,#89cbbe); */
    background-color: var(--loveColor);
    animation: flying2 6s infinite ease-in;
}
.aixin::after{
    content: "";
    position: absolute;
    top: -20px;
    width: 20px;
    height: 35px;
    border-radius: 20px 20px 0px 0;
    transform-origin: 0 100%;
    transform: rotate(90deg);
    /* background: linear-gradient(100deg,#e08acc,#c13e6c); */
    background-color: var(--loveColor);
}
#a1{
    animation-duration: 6s;
    left: 3%;
}
#a2{
    left: 10%;
    animation-delay: 1s;
    animation-duration: 8.5s;
}
#a3{
    --loveColor:rgb(201, 122, 44);
    animation-duration: 6.5s;
    left: 23%;
}
#a4{
    animation-duration: 7.5s;
    animation-delay: 1s;

    left: 30%;
}
#a5{
    animation-duration: 11s;
    left: 43%;
}
#a6{
    --loveColor:rgb(201, 122, 44);
    animation-delay: 1s;
    animation-duration: 10.5s;
    left: 51%;
}
#a7{
    animation-duration: 7s;
    left: 64%;
}
#a8{
    --loveColor:rgb(201, 122, 44);
    animation-delay: 1s;
    animation-duration: 9.5s;
    left: 70%;
}
#a9{
    animation-duration: 10s;
    left: 83%;
}
#a10{
    animation-duration: 8.5s;
    animation-delay: 1s;
    left: 90%;
}


/* 写点动画存一下！*/
@keyframes flying{
    to{
        transform:translateY(100px);
    }
}
@keyframes flying2{
    0%{
        opacity: 0.3;
        top: -100px;
        transform: translateX(400px) rotate(-95deg);
    }
    50%{
        opacity: 0.6;
        /* transform: rotate(-20deg); */
    }
    100%{
        opacity: 0.1;
        top: 1080px;
        transform: translateX(-300px) rotate(100deg);
    }
}
@keyframes big{
    /* 0%{
        transform: scale(95%);
    } */
    100%{
        transform: scale(115%);
    }
}
@keyframes big2{
    to{
        transform: scale(125%);
    }
}
@keyframes shine{
    to{
        color: #4987ca;
        text-shadow: 20px 0 50px #4987ca;
    }
}



@font-face {
    font-family: 'JetBrains Mono';
    src: url('https://gw.alipayobjects.com/os/k/app/JetBrainsMono-Regular.ttf') format('truetype');
  }
@font-face {
    font-family: 'hupo';
    src: url(./cykl4pagbno3k9ss8hi2gf3wrqq0ya2e.ttf);
}
