:root{
    --text-weight: #2c3e50;
    --shadow-box: 2px 4px 8px #5f5f5f;
    --shadow-box2:3px 3px 6px #7d7d7d;
    --shadow-box3:0px 0px 6px #7d7d7d;
    --text:var(--text-weight);
    --shadow:var(--shadow-box);
    --shadow2:var(--shadow-box2);
    --shadow3:var(--shadow-box3);
    --front-color: #fafafa;
    --zhenxia: rgb(222,117,101);
    --falan: rgb(48,174,207);
}
body{
    color: #202e3c;
    overflow-x:hidden
}

.empty3{
    position: fixed;
    width: 10px;
    top: 25%;
    height: 50%;
    background-color: rgba(161, 161, 161, 0.5);
    z-index: 1;
    border-top-right-radius: 75%;
    border-bottom-right-radius: 75%;
}
.empty3::before{
    content: "";
    position: absolute;
    background-color: rgb(123, 123, 123);
    width: 3px;
    height: 25px;
    top: 40%;
    left: 3px;
}
.empty3:hover>.left{
    left:0;
    top: 3.6rem;
}
.left{
    position: fixed;
    width: 240px;
    background-color: #fafafa;
    height: 100vh;
    border-right: 1px solid #dadada;
    border-top: 1px solid #dadada;
    padding: 20px;
    padding-left: 0;
    left: -300px;
    transition: 0.3s;
    top: 1.6rem;
}
.left-label{
    display: block;
    width: 90%;
    height: 1.8rem;
    cursor: pointer;
    margin-top: 10px;
    padding:10px 15px;
    line-height: 1.8rem;
}
.left-checkbox:checked + .left-box>.left-label
{
    border-left: 6px solid var(--text);
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    transition: .2s;
    height: auto;
    font-weight: normal;
}
.left-checkbox:checked + .left-box .left-list
{
    max-height: 100vh;
    padding: 10px 30px;
    transition: .4s;
}
.left-label{
    font-size: 1.1rem;
    font-weight: bold;
    color: #2c3e50;
}
.left-list{
    max-height: 0;
    display:block;
    overflow: hidden;
    height: 1rem;
    line-height: 1rem;
    text-decoration: none;
    border: 0;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    color: #2c3e50;
}

.csslist:checked + label{
    box-shadow: var(--shadow3);
    border-left: #2c3e50 4px solid;
    transition: .2s;
    background-color: #fff;
}

.main-box{
    /* display: grid;
    grid-template-columns: 281px 1fr; */
    /* position: absolute; */
    
    /* width: 100%; */
    /* top: 3.6rem; */
}
.right{
    /* height: 710px; */
    
}
.ifra{
     /* overflow: hidden; */
    /* border-style: unset; */
    display: block;
    height: 100%;
    color: #d0941c;
    /* vertical-align: top; */
    /* vertical-align:text-top(text-bottom); */
}

.right-box{   
    height: 0;
    width: 100%;
}
.right-box2{
    height: 92vh;
    width: 100%;
}

#welcome{
    height: calc (100vh);
    display: flex;
    flex-direction: column;
}
.welcome-head{
    padding: 20px;
}
#welcome-content{
    display: flex;
    /* flex-direction: column; */
    /* border: 1px red solid; */
    width: 100%;
    /* height: calc(100vh - 3.6rem); */
    height: calc(100vh - 7.6rem - 40px);
    /* background-color: rgb(0, 0, 0); */
    overflow: hidden;
    justify-content: space-between;
}
.bubbles{
    position: relative;
    display: flex;
    justify-content: center;
    flex: 1;
}
.bubble{
    transition: all 500ms;
    position: absolute;
}
pre{
    /* position: absolute; */
    background: #15141a;
    width: 55%; 
    height: 100%;  
    color: #fff;
    opacity: 0;
    z-index: -1;
    transition: all 500ms;
}
/* 先把写代码的 pre 标签搞好试试 */
pre {
    color: #61ffca;
    margin: 0;
    font-size: 14px;
    line-height: 1.4;
    font-family: JetBrains Mono;
    box-sizing: border-box;
    padding: 24px 16px;
    margin-top: 0;
    overflow-y: auto;
    }

/* 不太喜欢斜体，变正好了 */
pre em {
    font-style: normal;
}

/* 这不得来给代码颜色高亮下 */
.selector, .selector .key {
    color: #f694ff;
}

.key, .comment {
    color: #edecee;
}

.value {
    color: #ffca85;
}

/* 这个容器设置一下先 */
/* .welcome-head{
    text-align: center;
    background-color: var(--front-color);
    height:4rem;
} */

/* 为了更好的看到效果，把pre移到旁边来吧 */
/* pre {
    width: 55%;
} */

/* 先搞出4个气泡先 */
/* .bubble{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: linear-gradient(90deg,#6ab5b3,#3e75c1);
    opacity: 0.8;
} */

/* 给字搞一下！放进气泡里 */
/* .bubble{
    line-height: 150px;
    text-align: center;
    font-size: 20px;
    color: #0f1922;
    font-family: 'SThupo';
} */

#welcome-box1{
    left: 8%;
    top: 80px;
}
#welcome-box2{
    left: 8%;
    top: 320px;
}
#welcome-box3{
    right: 8%;
    top: 80px;
}
#welcome-box4{
    right: 8%;
    top: 320px;
}

/* 给气泡来点影子吧 */
/* .bubble{
    box-shadow: inset -4px -5px 10px 8px rgba(57, 141, 157,0.9);
    filter: drop-shadow(0px 5px 3px rgba(48, 83, 104,0.7));
} */

/* 现在加上动画效果让气泡生动起来！ */
/* #welcome-box1{
    animation: flying 2s infinite alternate ease-out,
                big 2s infinite alternate linear;
}
#welcome-box2{
    animation: flying 3s infinite alternate ease-out,
    big2 3s infinite alternate linear;
}
#welcome-box3{
    animation-duration: 2.5s;
    animation: flying 2s infinite alternate ease-out,
                big 2s infinite alternate linear;
}
#welcome-box4{
    animation: flying 2.8s infinite alternate ease-out,
    big2 2.8s infinite alternate linear;
} */

/* 好，就是这样，写好啦！
* 感觉一般般，算了我还是太菜了！*/

/* 好了，现在我要关掉这个界面啦 */

pre{
    /* opacity: 0; */
    /* display:none; */
}




.aixin{
    position: absolute;
    width: 60px;
    height: 90px;
    border-radius: 40px 40px 0 10px;
    transform-origin: 0 100%;
    background: linear-gradient(80deg,#e262d5,#89cbbe);
    animation: beat1 0.8s infinite alternate linear;
}
.aixin::after{
    content: "";
    position: absolute;
    top: -60px;
    width: 60px;
    height: 90px;
    transform-origin: 0 100%;
    transform: rotate(90deg);
    border-radius: 40px 40px 10px 0;
    background: linear-gradient(100deg,#e08acc,#c13e6c);
}
#a1{
    left: calc(5% + 60px);
    top: 50px;
}
#a2{
    left: calc(5% + 60px);
    bottom: 50px;
}
#a3{
    right: 5%;
    top: 50px;
    animation: beat2 0.5s infinite alternate ease-in;
}
#a4{
    right: 5%;
    bottom: 50px;
    animation: beat2 0.5s infinite alternate ease-in;
}
/* 写点动画存一下！*/
@keyframes flying{
    to{
        transform:translateY(100px);
    }
}
@keyframes big{
    /* 0%{
        transform: scale(95%);
    } */
    100%{
        transform: scale(115%);
    }
}
@keyframes big2{
    to{
        transform: scale(125%);
    }
}
@keyframes beat1{
    0%{
        transform: rotate(-65deg);
    }
    to{
        transform: scale(105%) rotate(-68deg);
    }
}
@keyframes beat2{
    0%{
        transform: rotate(-20deg);
    }
    to{
        transform: scale(105%) rotate(-23deg);
    }
}



@font-face {
    font-family: 'JetBrains Mono';
    src: url('https://gw.alipayobjects.com/os/k/app/JetBrainsMono-Regular.ttf') format('truetype');
  }