*{
    margin: 0;
    padding: 0;
}
.container{
    /* background-image: url(https://m.360buyimg.com/babel/jfs/t1/92348/3/32106/46940/63615842Ec431dc16/67292d4756696b1f.png); */
    background-size: cover;
}
.content{
    width: 100%;
    height: 100vh;
    background: rgb(255, 255, 255,0.4);
    -webkit-backdrop-filter: blur(5px) saturate(80%);
            backdrop-filter: blur(5px) saturate(80%);
    overflow: hidden;
}
/* -----------第一个----------- */
/* -----------第一个----------- */
/* -----------第一个----------- */
.con2{
    position: absolute;
}
.frontOpen{
    position: absolute;
    width: 100%;
    height: 100%;
    /* background: rgb(245, 231, 220); */
    /* backdrop-filter: blur(5px) saturate(80%); */
    z-index: 2;
    display: flex;
}
#openButton{
    position: absolute;
}
.frontOpen div{
    width: 50%;
    height: 100%;
    border-radius: 15px;
    position: relative;
    transition: 3s;
    /* backdrop-filter: blur(10px) grayscale(80%); */
}
@-webkit-keyframes change{
    0%{
        -webkit-backdrop-filter: blur(7px) grayscale(60%);
                backdrop-filter: blur(7px) grayscale(60%);
    }
    to{
        border-right: #9ab7be solid 3px;
        -webkit-backdrop-filter: blur(10px) grayscale(80%);
                backdrop-filter: blur(10px) grayscale(80%);
    }
}
@keyframes change{
    0%{
        -webkit-backdrop-filter: blur(7px) grayscale(60%);
                backdrop-filter: blur(7px) grayscale(60%);
    }
    to{
        border-right: #9ab7be solid 3px;
        -webkit-backdrop-filter: blur(10px) grayscale(80%);
                backdrop-filter: blur(10px) grayscale(80%);
    }
}
@-webkit-keyframes change2{
    0%{
        -webkit-backdrop-filter: blur(7px) grayscale(60%);
                backdrop-filter: blur(7px) grayscale(60%);
    }
    to{
        border-left: #9ab7be solid 3px;
        -webkit-backdrop-filter: blur(10px) grayscale(80%);
                backdrop-filter: blur(10px) grayscale(80%);
    }
}
@keyframes change2{
    0%{
        -webkit-backdrop-filter: blur(7px) grayscale(60%);
                backdrop-filter: blur(7px) grayscale(60%);
    }
    to{
        border-left: #9ab7be solid 3px;
        -webkit-backdrop-filter: blur(10px) grayscale(80%);
                backdrop-filter: blur(10px) grayscale(80%);
    }
}
.frontOpen div span{
    position: absolute;
    top: 40%;
    color: #2c3e50;
    font-size: 4rem;
    font-style: italic;
    margin: 15px;
    font-weight: bolder;
    text-shadow: 0px 5px 5px #152a41b2;
}
#fr1{
    background: linear-gradient(90deg,#b181a53d,#2c3e5047);
    border-right: #2c3e50 solid 3px;
    -webkit-animation: change 1.5s infinite alternate linear;
            animation: change 1.5s infinite alternate linear;
}
#fr2{
    background: linear-gradient(270deg,#ae8ba53d,#2c3e5047);
    border-left: #2c3e50 solid 3px;
    -webkit-animation: change2 1.5s infinite alternate linear;
            animation: change2 1.5s infinite alternate linear;
}

#fr1 span{
    right: 0;
}
#fr2 span{
    left: 0;
}
#xs1{
    position: absolute;
    width: 25%;
    height: auto;
    bottom: 0;
    left: 37.5%;
    transform-style:preserve-3d ;
    -webkit-filter: drop-shadow(10px 0px 10px #2e2e2e);
            filter: drop-shadow(10px 0px 10px #2e2e2e);
    -webkit-animation: flying 1s forwards ease-in;
            animation: flying 1s forwards ease-in;
    /* transform-origin: 30% calc(90vw); */
    /* transition: 0.1s; */
}
#xs1-back{
    position: absolute;
    width: 50%;
    height: auto;
    bottom: -50%;
    right: 10%;
    z-index: -2;
    -webkit-filter: blur(5px) saturate(80%);
            filter: blur(5px) saturate(80%);
    opacity: 0.8;
}
.quan{
    position: absolute;
    bottom: -40%;
    left: 20%;
    width: 60%;
    height: calc(60vw);
    border-radius: 50% 50% 0 0;
    background: linear-gradient(90deg,#c858aa6a,#6ab5b3);
    box-shadow: inset 3px 3px 80px #6ab5b3;
    z-index: -1;
    transition: 0.5s;
}
.information{
    display: flex;
    justify-content: center;
}
#annivesary{
    position: absolute;
    width: 110%;
    height: 40%;
    top: 5%;
    left: -10%;
}
.lyric{
    position: absolute;
    top: 45%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* right: 100%; */
}
.text{
    width: 100%;
    text-align: center;
    font-size: 25px;
    line-height: 40px;
    color: #2c3e50;
    
}
#t1{
    display: block;
}
#t2{
    display: none;
}
#t3{
    display: none;
}
.text em{
    font-size: 30px;
    line-height: 50px;
}
@-webkit-keyframes sliding{
    0%{
        transform: translateY(0);
    }
    2.6%{
        transform: translateY(0px);
    }
    9%{
        transform: translateY(-320px);
    }
    12.3%{
        transform: translateY(-480px);
    }
    14.2%{
        transform: translateY(-520px);
    }
    15.5%{
        transform: translateY(-600px);
    }
    19.7%{
        transform: translateY(-800px);
    }
    23.6%{
        transform: translateY(-920px);
    }
    27.5%{
        transform: translateY(-1000px);
    }
    30.8%{
        transform: translateY(-1040px);
    }
    34%{
        transform: translateY(-1200px);
    }
    37.2%{
        transform: translateY(-1280px);
    }
    40.4%{
        transform: translateY(-1440px);
    }
    44.6%{
        transform: translateY(-1560px);
    }
    47.3%{
        transform: translateY(-1560px);
    }
    51.4%{
        transform: translateY(-1760px);
    }
    54%{
        transform: translateY(-1840px);
    }
    58.9%{
        transform: translateY(-1960px);
    }
    62.1%{
        transform: translateY(-2000px);
    }
    65.7%{
        transform: translateY(-2160px);
    }
    68.9%{
        transform: translateY(-2240px);
    }
    72.5%{
        transform: translateY(-2400px);
    }
    74.1%{
        transform: translateY(-2440px);
    }
    77.3%{
        transform: translateY(-2480px);
    }
    80.9%{
        transform: translateY(-2640px);
    }
    84.1%{
        transform: translateY(-2720px);
    }
    87.4%{
        transform: translateY(-2880px);
    }
    89%{
        transform: translateY(-2920px);
    }
    90%{
        transform: translateY(-2960px);
    }
    93.2%{
        transform: translateY(-3000px);
    }
    to{
        transform: translateY(calc(-1950px - 100%));
    }
}
@keyframes sliding{
    0%{
        transform: translateY(0);
    }
    2.6%{
        transform: translateY(0px);
    }
    9%{
        transform: translateY(-320px);
    }
    12.3%{
        transform: translateY(-480px);
    }
    14.2%{
        transform: translateY(-520px);
    }
    15.5%{
        transform: translateY(-600px);
    }
    19.7%{
        transform: translateY(-800px);
    }
    23.6%{
        transform: translateY(-920px);
    }
    27.5%{
        transform: translateY(-1000px);
    }
    30.8%{
        transform: translateY(-1040px);
    }
    34%{
        transform: translateY(-1200px);
    }
    37.2%{
        transform: translateY(-1280px);
    }
    40.4%{
        transform: translateY(-1440px);
    }
    44.6%{
        transform: translateY(-1560px);
    }
    47.3%{
        transform: translateY(-1560px);
    }
    51.4%{
        transform: translateY(-1760px);
    }
    54%{
        transform: translateY(-1840px);
    }
    58.9%{
        transform: translateY(-1960px);
    }
    62.1%{
        transform: translateY(-2000px);
    }
    65.7%{
        transform: translateY(-2160px);
    }
    68.9%{
        transform: translateY(-2240px);
    }
    72.5%{
        transform: translateY(-2400px);
    }
    74.1%{
        transform: translateY(-2440px);
    }
    77.3%{
        transform: translateY(-2480px);
    }
    80.9%{
        transform: translateY(-2640px);
    }
    84.1%{
        transform: translateY(-2720px);
    }
    87.4%{
        transform: translateY(-2880px);
    }
    89%{
        transform: translateY(-2920px);
    }
    90%{
        transform: translateY(-2960px);
    }
    93.2%{
        transform: translateY(-3000px);
    }
    to{
        transform: translateY(calc(-1950px - 100%));
    }
}
@-webkit-keyframes sliding2{
    0%{
        transform: translateX(0%);
    }
    to{
        transform: translateX(200%);
    }
}
@keyframes sliding2{
    0%{
        transform: translateX(0%);
    }
    to{
        transform: translateX(200%);
    }
}


/* ---------------第二个----------------- */
/* ---------------第二个----------------- */
/* ---------------第二个----------------- */
.quan2{
    position: absolute;
    overflow: hidden;
    top: -40%;
    left: 20%;
    width: 60%;
    height: calc(60vw);
    border-radius: 0 0 50% 50%;
    background: linear-gradient(90deg,#c858aa6a,#6ab5b3);
    box-shadow: inset 3px 3px 80px #6ab5b3;
    z-index: -1;
    transition: 0.5s;
}

/* --------歌曲气泡的设置---------- */
.music{
    position: absolute;
    width: 150px;
    height: 150px;
    background: rgb(163, 109, 109);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset -3px -3px 10px 5px #59647eb4;
    -webkit-animation: big 0.5s infinite alternate;
            animation: big 0.5s infinite alternate;
    left: 4%;
    top: 5%;
}
.music p{
    color: aliceblue;
}
.music span{
    display: block;
    position: absolute;
    width: 40%;
    height: 40%;
    margin: auto;
    -webkit-filter: blur();
            filter: blur();
    border-radius: 50%;
    opacity: 0.8;
    background: url(../images/music-play2.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#m1{
    background-image: url(../images/music-bg1.jpg);
    background-size: cover;
    z-index: 1;
}
#m2{
    background-image: url(../images/music-bg2.jpg);
    background-size: cover;
    left: 5%;
    top: 5%;
}
#m3{
    background-image: url(../images/music-bg3.jpg);
    background-size: cover;
    left: 6%;
    top: 5%;
}
@-webkit-keyframes big{
    /* 0%{
        transform: scale(95%);
    } */
    100%{
        transform: scale(115%);
    }
}
@keyframes big{
    /* 0%{
        transform: scale(95%);
    } */
    100%{
        transform: scale(115%);
    }
}
.play{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    background-color: #2c3e50c2;
    z-index: 1;
    top: calc(100% + 10px);
    height: 10%;
    width: 16%;
    left: 42%;
    border-radius: 100px;
    transition: 1s;
    box-shadow: 0 0 10px 5px #2c3e50c2;
    /* padding: 0 20px; */
}

.play div{
    border-radius: 10px;
    background-color: rgb(245, 231, 220);
}
.play div span{
    display: block;
    width: 100%;
    height: 100%;
    margin: auto;
}
.last{
    margin-left: 15%;
    width: 10%;
    height: 40%;
}
.last span{
    background: url(../images/music-last.svg);
    background-size: 100% 100%;
}
#playB{
    width: 15%;
    height: 50%;
    border-radius: 50px;
}
.start span{
    background: url(../images/music-play.svg);
    background-size: 100% 100%;
}
.next{
    margin-right: 15%;
    width: 10%;
    height: 40%;
}
.next span{
    background: url(../images/music-next.svg);
    background-size: 100% 100%;
}
.sound{
    position: absolute;
    right: 22px;
    top: calc(100% + 37px);
    z-index: 1;
}
.sound button{
    display: block;
    position: relative;
    width: 43px;
    height: 27px;
    box-shadow: inset 0px 0px 5px 3px #555b68b4;
    background-color: rgb(90, 120, 121);
    border: 0px;
    border-radius: 15px;
}
.sound button span{
    display: block;
    position: absolute;
    left: 4px;
    top: 0;
    bottom: 0;
    width: 19px;
    height: 19px;
    margin: auto;
}
.offon span{
    background: url(../images/sound-on.svg);
    background-size: 100% 100%;
    -webkit-animation: sound-on linear 0.12s forwards;
            animation: sound-on linear 0.12s forwards;
}
@-webkit-keyframes sound-on{
    to{
        transform: translateX(16px);
    }
}
@keyframes sound-on{
    to{
        transform: translateX(16px);
    }
}
@-webkit-keyframes sound-off{
    0%{
        transform: translateX(16px);
    }
    to{
        transform: translateX(0px);
    }
}
@keyframes sound-off{
    0%{
        transform: translateX(16px);
    }
    to{
        transform: translateX(0px);
    }
}
#xs2{
    position: absolute;
    bottom: -20%;
    height: 70%;
    opacity: 0;
}
.animationPlay{
    -webkit-animation: flying 1s forwards linear;
            animation: flying 1s forwards linear;
}
@-webkit-keyframes flying{
    0%{
        opacity: 0.6;
        bottom: -20%;
    }
    100%{
        opacity: 1;
        bottom: -3%;
    }
}
@keyframes flying{
    0%{
        opacity: 0.6;
        bottom: -20%;
    }
    100%{
        opacity: 1;
        bottom: -3%;
    }
}
#xs3{
    position: absolute;
    bottom: -20%;
    height: 80%;
    right: 10%;
}
@-webkit-keyframes flying2{
    0%{
        left: -20%;
        top: -30%;
        height: 0;
    }
    100%{
        left: -10%;
        top: 5%;
        height: 40%;
    }
}
@keyframes flying2{
    0%{
        left: -20%;
        top: -30%;
        height: 0;
    }
    100%{
        left: -10%;
        top: 5%;
        height: 40%;
    }
}

