<!DOCTYPE html>
<html lang="zh" class="js">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>流量消耗器 </title>
    <meta name="keywords" content="流量消耗器,流量杀手">
    <meta name="description" content="流量消耗器，web版流量杀手，https://www.qqwj.tk/llss/。">
    <link rel="stylesheet" href="css/dashlite.css">
    <link rel="stylesheet" href="css/style.css?v=20220626">
    <link rel="shortcut icon" href="./images/fronticon.png">
    <link rel="manifest" href="manifest.json">
    <script type="text/javascript">
        if (navigator.serviceWorker != null) {
            navigator.serviceWorker.register('sw-pwa.js?20220628')
                .then(function (registration) {
                    console.log('Registered events at scope: ', registration.scope);
                });
        }
    </script>
    <script src="//api.vv1234.cn/ip/api.php?action=getip&code=js&token=test&from=llxhq"></script>
    <script src="//v1.hitokoto.cn/?encode=js&select=%23hitokoto" defer></script>
    <script charset="UTF-8" id="LA_COLLECT" src="//sdk.51.la/js-sdk-pro.min.js"></script>
    <script>LA.init({ id: "JjhvoI5bfYbANJBZ", ck: "JjhvoI5bfYbANJBZ", autoTrack: true, hashMode: true })</script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4745983596040533"
        crossorigin="anonymous"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114909353-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-114909353-1');
    </script>

    <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js">
    </script>
</head>

<body class="nk-body npc-invest bg-lighter " style="cursor:pointer">
    <!-- wrap @s -->
    <div class="nk-wrap ">
        <!-- main header @s -->
        <div class="nk-header nk-header-fluid nk-header-fixed is-light">
            <div class="container-xl">
                <div class="nk-header-wrap link-between">
                    <div class="nk-menu-trigger mr-sm-2 d-lg-none">
                        <a href="#" class="nk-nav-toggle nk-quick-nav-icon" data-target="headerNav"><em
                                class="icon ni ni-menu"></em></a>
                    </div>
                    <div class="nk-header-brand">
                        <!-- <img src="https://puep.qpic.cn/coral/Q3auHgzwzM4fgQ41VTF2rKndoDgEvAVV5cqSibegTpcHqYVqLeADsQw/0" class="hide-mb-sm"> -->
                        <a href="#" class="logo-link text-base">流量消耗器</a>
                    </div>
                    <!-- .nk-header-brand -->
                    <div class="nk-header-tools nk-header-menu" data-content="headerNav">
                        <div class="nk-header-mobile">
                            <div class="nk-header-brand">
                                <a href="/" class="logo-link text-base">
                                    <span class="nio-version" style="font-size: 21px;position: inherit;">强强玩机</span>
                                </a>
                            </div>
                            <div class="nk-menu-trigger mr-n2">
                                <a href="#" class="nk-nav-toggle nk-quick-nav-icon" data-target="headerNav"><em
                                        class="icon ni ni-arrow-left"></em></a>
                            </div>
                        </div>
                        <!-- Menu -->
                        <ul class="nk-menu nk-menu-main">
                            <li class="nk-menu-item ">
                                <a href="#" class="nk-menu-link nk-ibx-action-item">
                                    <em class="icon ni ni-home"></em>
                                    <span class="nk-menu-text">首页</span>
                                </a>
                            </li>
                            <li class="nk-menu-item ">
                                <a href="#userIp" class="nk-menu-link nk-ibx-action-item">
                                    <em class="icon ni ni-policy"></em>
                                    <span class="nk-menu-text">IP归属查询</span>
                                </a>
                            </li>

                            <li class="nk-menu-item ">
                                <a href="#" class="nk-menu-link nk-ibx-action-item">
                                    <em class="icon ni ni-heart"></em>
                                    <span class="nk-menu-text">占位占位</span>
                                </a>
                            </li>
                            <li class="nk-menu-item ">
                                <a href="./images/weixin.jpg" class="nk-menu-link nk-ibx-action-item">
                                    <em class="icon ni ni-comments"></em>
                                    <span class="nk-menu-text">留言反馈</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- .nk-header-menu -->
                    <div class="no-gutters">
                        <ul class="nk-quick-nav">
                            <li class="dropdown">
                                <a href="javascript:;" class="progress-rating dark-switch ">
                                    <span class="nk-menu-icon">
                                        <em class="icon ni ni-moon"></em>
                                        <em class="icon ni ni-sun d-none"></em>
                                    </span>
                                </a>
                            </li>

                            <!-- .dropdown -->
                        </ul>
                        <!-- .nk-quick-nav -->
                    </div>
                    <!-- .nk-header-tools -->
                </div>
                <!-- .nk-header-wrap -->
            </div>
            <!-- .container-fliud -->
        </div>
        <!-- main header @e -->
        <!-- content @s -->
        <div class="nk-content nk-content-lg nk-content-fluid">

            <style>
                .stat {
                    width: 100%;
                    column-gap: 1rem;
                    padding: 1rem 1.5rem;
                }

                .stat-title {
                    white-space: nowrap;
                    opacity: .6;
                }

                .stat-value {
                    white-space: nowrap;
                    grid-column-start: 1;
                    font-size: 1.8rem;
                    font-weight: 700;
                    line-height: 2.5rem
                }
            </style>
            <div class="container-xl" id="app">
                <div class="col-sm-12 col-md-10 col-xl-8 center-block">
                    <div class="card card-preview">
                        <div class="card-inner mt-3">
                            <div class="nya-title nk-ibx-action-item progress-rating">
                                <span class="nk-menu-text font-weight-bold">流量消耗器</span>
                            </div>
                            <div class="form-group">

                                <p>Tip:速度不满意？请尝试手工切换最佳节点，加大线程</p>
                                <label class="form-label">下载链接</label>
                                <div class="form-control-wrap">
                                    <!-- <select type="text" v-model="set.input" class="form-control">
                                        <option value="https://cachefly.cachefly.net/100mb.test" selected="selected">
                                            Default [推荐]</option>

                                        <option value="">↓↓ 百度 ↓↓</option>
                                        <option
                                            value="https://wppkg.baidupcs.com/issue/netdisk/apk/BaiduNetdisk_10.1.02.apk">
                                            百度网盘</option>
                                        <option
                                            value="https://imeres.baidu.com/imeres/ime-res/guanwang/img/UOS-fcitx-baidupinyin-64.zip">
                                            百度输入法</option>

                                        <option value="">↓↓ 阿里巴巴 ↓↓</option>
                                        <option
                                            value="https://img.alicdn.com/imgextra/i1/O1CN01xA4P9S1JsW2WEg0e1_!!6000000001084-2-tps-2880-560.png">
                                            阿里图片CDN域名加速</option>
                                        <option
                                            value="https://gw.alipayobjects.com/os/volans-demo/f44c302e-b704-4a70-bcc6-0214e37ca256/MiniProgramStudio-1.17.4.exe">
                                            支付宝开放平台</option>
                                        <option value="">↓↓ 腾讯 ↓↓</option>
                                        <option
                                            value="https://game.gtimg.cn/images/nz/web202106/index/bc_part1.gif?0.3190485611376561">
                                            腾讯游戏</option>
                                        <option value="">↓↓ 京东 ↓↓</option>
                                        <option
                                            value="https://img10.360buyimg.com/live/jfs/t1/128947/12/26918/1361527/6260e71bE0ee85af5/ecaa17ea8dd3dddb.jpg">
                                            京东商城图片CDN服务</option>
                                        <option value="">↓↓ 网易 ↓↓</option>
                                        <option value="https://x19.gdl.netease.com/MCLauncher_publish_1.8.0.35383.exe">
                                            网易(阿里CDN)</option>
                                        <option
                                            value="https://mov.bn.netease.com/open-movie/nos/mp4/2015/11/26/SB8ECV1ST_sd.mp4">
                                            网易(白云山CDN)</option>
                                        <option value="">↓↓ VIVO ↓↓</option>
                                        <option
                                            value="https://wwwstatic.vivo.com.cn/vivoportal/files/resource/funtouch/1651200648928/images/os2-jude-video.mp4">
                                            VIVO官网静态资源</option>
                                        <option
                                            value="https://imgwsdl.vivo.com.cn/appstore/developer/soft/20210125/202101251051528awqa.apk">
                                            VIVO应用商店</option>
                                        <option value="">↓↓ 字节跳动 ↓↓</option>
                                        <option
                                            value="https://lf9-cdn-tos.bytecdntp.com/cdn/yuntu-index/1.0.4/case/maiteng/detailbg.png">
                                            字节跳动前端公共库</option>
                                        <option value="">↓↓ 小米 ↓↓</option>
                                        <option
                                            value="https://cnbj0.fds.api.xiaomi.com/b2c-data-mishop/9b9d95e1ece27d5ec75205e5fe719ba5.apk">
                                            小米应用商店</option>
                                        <option
                                            value="https://consumer-img.huawei.com/content/dam/huawei-cbg-site/cn/mkt/mobileservices/appgallery/download/PC107f1b3947c942ffaa14334a879065d8.2107261020.exe">
                                            华为</option>
                                        <option value="">↓↓ 中国移动 ↓↓</option>
                                        <option
                                            value="https://d.musicapp.migu.cn/upload/fbpt_rsync_apps/local/signed/MobileMusic7140/MobileMusic7140_0140068.apk">
                                            咪咕音乐</option>
                                        <option value="">↓↓ 中国电信 ↓↓</option>
                                        <option
                                            value="https://vod-origin-rjzy.gdoss.xstore.ctyun.cn/5ca444c333bf4727babc7d154aabe559.mp4">
                                            天翼云(中国电信)</option>
                                        <option value="">↓↓ 国内其他大厂 ↓↓</option>
                                        <option
                                            value="https://dh5.cntv.myhwcdn.cn/asp/h5e/hls/1200/0303000a/3/default/ec48b9f8c76e49af842d4942914ad663/1.ts">
                                            CCTV</option>
                                        <option
                                            value="https://714-3.vod.tv.itc.cn/sohu/ifox/Lzk5LzI1Mi8iOJyyPTwssSSquySopbGYrBm6qDQjlzI2s5MyHpU/SHPlayer_3.28_18312.dmg">
                                            搜狐</option>
                                        <option
                                            value="http://i.apps.sina.cn/tqt/zip/com.sina.tianqitong_6.1892_2019.07.29.17.54.18.apk">
                                            新浪</option>
                                        <option
                                            value="https://cdn.aixifan.com/downloads/AcFun-acfunh5-release-6.62.0.1238_x64_60b608.apk">
                                            AcFun</option>
                                        <option
                                            value="http://image.uc.cn/s/uae/g/2i/uninstallpg/Quark_Browser_unins.apk">
                                            Quark_Browser</option>
                                        <option
                                            value="https://dl.pddpic.com/android_dev/2021-02-08/4ff25ce6148aa99aeeba723b5891ae72.apk">
                                            拼多多</option>
                                        <option
                                            value="https://sta-op.douyucdn.cn/vod-index/2022/06/22/848adf3ae99d2be506026380c2ad42c1.png">
                                            斗鱼</option>
                                        <option
                                            value="https://kodo-toolbox.qiniu.com/kodo-browser-Linux-x64-v1.0.17.zip">
                                            七牛云</option>
                                        <option
                                            value="https://picture.xianniu.com/pc/download/3.8.0.4/xianniusetup.3.8.0.4.exe">
                                            鲜牛加速器(华为云CDN)</option>
                                        <option
                                            value="https://gh.con.sh/https://github.com/AaronFeng753/Waifu2x-Extension-GUI/releases/download/v2.21.12/Waifu2x-Extension-GUI-v2.21.12-Portable.7z">
                                            GitHub文件加速(cloudflare CDN)</option>
                                        <option value="">↓↓ 海外优选节点 ↓↓</option>
                                        <option value="https://cachefly.cachefly.net/100mb.test">Cachefly 100MB</option>
                                        <option value="https://speed.cloudflare.com/__down?bytes=25000000">cloudflare
                                        </option>
                                        <option value="https://sgp-ping.vultr.com/vultr.com.1000MB.bin">Vultr 1G(新加坡)
                                        </option>
                                        <option value="https://nj-us-ping.vultr.com/vultr.com.1000MB.bin">Vultr 1G(纽约)
                                        </option>
                                        <option value="https://speedtest.tokyo2.linode.com/100MB-tokyo2.bin">Linode
                                            100MB(日本省东京市)</option>

                                        <option value="">↓↓ 如需自定义请直接在下方填写资源链接 ↓↓</option>
                                    </select> autocomplete="new-password" -->
                                    <select type="text"  v-model="set.input" class="form-control">
                                        <option value="https://fcfe4577ce22fc1f020178b536ca3cbc.dlied1.cdntips.net/dlied1.qq.com/qqweb/QQ_1/android_apk/Androidqq_8.4.8.4810_537065343.apk?mkey=5f8e682d7060569e&f=954e&cip=11" selected>Default [推荐]</option>
                                        <option value="">👇👇 请手工选择大厂节点或直接下方填写资源链接 👇👇</option>
                                        <option value="">👇👇 百度 👇👇</option>
                                        <option
                                            value="https://issuepcdn.baidupcs.com/issue/netdisk/LinuxGuanjia/4.15.5/baidunetdisk-4.15.5.x86_64.rpm">
                                            百度网盘</option>
                                        <option
                                            value="https://edu-wenku.bdimg.com/v1/na/0807/PC%E5%AE%A2%E6%88%B7%E7%AB%AF%E7%89%88%E6%9C%AC%E5%8C%85/%E7%99%BE%E5%BA%A6%E6%96%87%E5%BA%93%20Setup%201.1.6.exe">
                                            百度文库</option>
                                        <option value="">👇👇 阿里巴巴 👇👇</option>
                                        <option
                                            value="https://img.alicdn.com/imgextra/i1/O1CN01xA4P9S1JsW2WEg0e1_!!6000000001084-2-tps-2880-560.png">
                                            阿里图片CDN域名加速</option>
                                        <option
                                            value="https://gw.alipayobjects.com/os/volans-demo/f44c302e-b704-4a70-bcc6-0214e37ca256/MiniProgramStudio-1.17.4.exe">
                                            支付宝开放平台</option>
                                        <option value="https://gw.alicdn.com/tfscom/TB1fASCxhjaK1RjSZKzXXXVwXXa.jpg">
                                            阿里系Gw</option>
                                        <option value="">👇👇 腾讯 👇👇</option>
                                        <option
                                            value="https://game.gtimg.cn/images/nz/web202106/index/bc_part1.gif?0.3190485611376561">
                                            腾讯游戏-静态资源加速1</option>
                                        <option value="https://game.gtimg.cn/images/lol/act/img/skin/big1001.jpg">
                                            腾讯游戏-静态资源加速2</option>
                                        <option
                                            value="https://wegame.gtimg.com/g.55555-r.c4663/wegame-home/sc02-03.514d7db8.png">
                                            Wegame-静态资源加速</option>
                                        <option value="">👇👇 京东 👇👇</option>
                                        <option
                                            value="https://img10.360buyimg.com/live/jfs/t1/128947/12/26918/1361527/6260e71bE0ee85af5/ecaa17ea8dd3dddb.jpg">
                                            京东商城图片CDN服务</option>
                                        <option value="">👇👇 网易 👇👇</option>
                                        <option value="https://x19.gdl.netease.com/MCLauncher_publish_1.8.0.35383.exe">
                                            MCLauncher网易版(阿里CDN)</option>
                                        <option
                                            value="https://mov.bn.netease.com/open-movie/nos/mp4/2015/11/26/SB8ECV1ST_sd.mp4">
                                            网易公开课(白云山CDN)</option>
                                        <option
                                            value="https://a29.gdl.netease.com/CloudGame_setup_pc_x64_1.5.1.0039.exe">
                                            网易云游戏</option>
                                        <option value="">👇👇 蓝绿大厂 👇👇</option>
                                        <option
                                            value="https://wwwstatic.vivo.com.cn/vivoportal/files/resource/funtouch/1651200648928/images/os2-jude-video.mp4">
                                            VIVO官网静态资源</option>
                                        <option value="https://dsfs.oppo.com/oppo/shop-pc-v2/main/js/9fb472f.js">
                                            OPPP商城静态资源</option>
                                        <option
                                            value="https://imgwsdl.vivo.com.cn/appstore/developer/soft/20210125/202101251051528awqa.apk">
                                            VIVO应用商店</option>
                                        <option value="">👇👇 字节跳动 👇👇</option>
                                        <option
                                            value="https://lf9-cdn-tos.bytecdntp.com/cdn/yuntu-index/1.0.4/case/maiteng/detailbg.png">
                                            字节跳动前端公共库</option>
                                        <option value="">👇👇 小米 👇👇</option>
                                        <option value="把网站后面改为/llss/jiedian.txt试试？或者找到界面中的海外节点4个字点点看">👉👉 香港台湾日本新加坡 👈👈</option>
                                        <option
                                            value="https://cnbj0.fds.api.xiaomi.com/b2c-data-mishop/9b9d95e1ece27d5ec75205e5fe719ba5.apk">
                                            小米应用商店</option>
                                        <option value="">👇👇 中国移动 👇👇</option>
                                        <option
                                            value="https://d.musicapp.migu.cn/upload/fbpt_rsync_apps/local/signed/MobileMusic7140/MobileMusic7140_0140068.apk">
                                            咪咕音乐</option>
                                        <option
                                            value="https://img.cmvideo.cn/publish/noms/2022/10/14/1O3VIGPVP6HTS.jpg">
                                            咪咕视频</option>
                                        <option value="">👇👇 中国电信 👇👇</option>
                                        <option
                                            value="https://vod-origin-rjzy.gdoss.xstore.ctyun.cn/5ca444c333bf4727babc7d154aabe559.mp4">
                                            天翼云(中国电信)</option>
                                        <option value="">👇👇 中国联通 👇👇</option>
                                        <option value="https://m1.ad.10010.com/small_video/uploadImg/1669798519261.png">
                                            联通官网静态资源1</option>
                                        <option
                                            value="https://gec.10010.com/multi/unified-storage/video/202102/210208115fe139453000.mp4">
                                            联通官网静态资源2——政企</option>
                                        <option
                                            value="https://img.client.10010.com/pczhibo/cyberplayer-3.5.4/videojs/video.min.js">
                                            联通官网CDN业务域名</option>
                                        <option value="">👇👇 哔哩哔哩 👇👇</option>
                                        <option
                                            value="https://activity.hdslb.com/blackboard/static/20210604/4d40bc4f98f94fbc71c235832ce3efd4/hJEhL6jGOY.zip">
                                            上海灵羊1</option>
                                        <option
                                            value="https://upos-sz-staticks3.bilivideo.com/ssaxcode/m201120a222dw4bejcrhrq3gt815s4zd-1-SiteTool_1080.mp4">
                                            哔哩video</option>
                                        <option
                                            value="https://s1.hdslb.com/bfs/game-static/web/caster/static/script/vue/da3f37d7fd8339357ed671a94941757e/st.zip">
                                            哔哩CDN域名-阿里CDN</option>
                                        <option
                                            value="https://s3.hdslb.com/bfs/game-static/web/caster/static/script/vue/da3f37d7fd8339357ed671a94941757e/st.zip">
                                            哔哩CDN域名-阿里CDN2</option>
                                        <option value="">👇👇 华为 👇👇</option>
                                        <option
                                            value="https://consumer-img.huawei.com/content/dam/huawei-cbg-site/cn/mkt/mobileservices/appgallery/download/PC107f1b3947c942ffaa14334a879065d8.2107261020.exe">
                                            华为</option>
                                        <option value="">👇👇 锤子 👇👇</option>
                                        <option
                                            value="https://static.smartisanos.cn/common/video/production/ocean/os-1-1710.mp4">
                                            Smartisan OS 官网公共资源</option>
                                        <option value="">👇👇 拼多多 👇👇</option>
                                        <option
                                            value="https://static.pddpic.com/assets/js/react_pdd_50c6d8bdb252d256ae20_1026.js">
                                            拼多多H5官网静态资源-js小文件</option>
                                        <option
                                            value="https://funimg.pddpic.com/c3affbeb-9b31-4546-b2df-95b62de81639.png.slim.png">
                                            拼多多H5官网静态资源-图像小文件</option>
                                        <option
                                            value="https://t00img.yangkeduo.com/chat/images/2022-12-12/79e0a4684de85c7b59f797819260be98.jpeg">
                                            拼多多IMG/CDN域名</option>
                                        <option value="">👇👇 国内其他大厂 👇👇</option>
                                        <option
                                            value="https://dh5.cntv.myhwcdn.cn/asp/h5e/hls/1200/0303000a/3/default/ec48b9f8c76e49af842d4942914ad663/1.ts">
                                            CCTV</option>
                                        <option
                                            value="https://714-3.vod.tv.itc.cn/sohu/ifox/Lzk5LzI1Mi8iOJyyPTwssSSquySopbGYrBm6qDQjlzI2s5MyHpU/SHPlayer_3.28_18312.dmg">
                                            搜狐</option>
                                        <option
                                            value="http://i.apps.sina.cn/tqt/zip/com.sina.tianqitong_6.1892_2019.07.29.17.54.18.apk">
                                            新浪</option>
                                        <option
                                            value="https://cdn.aixifan.com/downloads/AcFun-acfunh5-release-6.62.0.1238_x64_60b608.apk">
                                            AcFun</option>
                                        <option
                                            value="http://image.uc.cn/s/uae/g/2i/uninstallpg/Quark_Browser_unins.apk">
                                            Quark_Browser</option>
                                        <option
                                            value="https://shark2.douyucdn.cn/front-publish/live-master/lib/vendor-room_4e3a873.js">
                                            斗鱼CDN-小文件</option>
                                        <option
                                            value="https://kodo-toolbox.qiniu.com/kodo-browser-Linux-x64-v1.0.17.zip">
                                            七牛云</option>
                                        <option
                                            value="https://picture.xianniu.com/pc/download/4.6.9.3/xianniusetup.4.6.9.3.exe">
                                            鲜牛加速器(华为云CDN)</option>
                                        <option
                                            value="https://gh.con.sh/https://github.com/AaronFeng753/Waifu2x-Extension-GUI/releases/download/v2.21.12/Waifu2x-Extension-GUI-v2.21.12-Portable.7z">
                                            GitHub文件加速(cloudflare CDN)</option>
                                        <option value="">👇👇 海外优选节点 👇👇</option>
                                        <option value="https://cachefly.cachefly.net/100mb.test">海外Cachefly 100MB</option>
                                        <option value="https://speed.cloudflare.com/__down?bytes=25000000">cloudflare
                                        </option>
                                        <option value="https://sgp-ping.vultr.com/vultr.com.1000MB.bin">Vultr 1G(新加坡)
                                        </option>
                                        <option value="https://nj-us-ping.vultr.com/vultr.com.1000MB.bin">Vultr 1G(纽约)
                                        </option>
                                        <option value="https://speedtest.tokyo2.linode.com/100MB-tokyo2.bin">Linode
                                            100MB(日本省东京市)</option>
                                        <option value="https://emp.bbci.co.uk/emp/dashjs/3.2.0-8/dash.all.min.js">BBC中文网
                                        </option>
                                    </select>
                                    <input style="" type="text" v-model="set.input" placeholder="下载链接"
                                        class="form-control" autocomplete="off">

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label">线程</label>
                                <div class="form-control-wrap number-spinner-wrap">
                                    <button class="btn btn-icon btn-outline-primary number-spinner-btn number-minus"
                                        @click="if(set.thread>1)set.thread--"><em
                                            class="icon ni ni-minus"></em></button>
                                    <input type="number" class="form-control number-spinner" min="1" max="32"
                                        v-model="set.thread">
                                    <button class="btn btn-icon btn-outline-primary number-spinner-btn number-plus"><em
                                            class="icon ni ni-plus"
                                            @click="if(set.thread<32)set.thread++"></em></button>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="preview-block">
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input" v-model="set.infinite"
                                            id="customSwitch2">
                                        <label class="custom-control-label" for="customSwitch2">无限循环</label>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-dim btn-outline-secondary btn-block card-link" @click="run">
                                {{set.status?'停止':'开始'}}
                            </button>

                            <div class="row mt-4">
                                <div class="col-sm-12 col-md-4 border stat">
                                    <div class="text-dark"><svg xmlns="http://www.w3.org/2000/svg" fill="none"
                                            viewBox="0 0 24 24" stroke="currentColor"
                                            class="h-15 w-15 float-right pt-3">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                d="M3 15a4 4 0 004 4h9a5 5 0 10-.1-9.999 5.002 5.002 0 10-9.78 2.096A4.001 4.001 0 003 15z">
                                            </path>
                                        </svg></div>
                                    <div class="stat-title">已消失的流量</div>
                                    <div class="stat-value">{{changeFilesize(waste)}}</div>
                                </div>
                                <div class="col-sm-12 col-md-4 border stat">
                                    <div class="text-info"><svg xmlns="http://www.w3.org/2000/svg" fill="none"
                                            viewBox="0 0 24 24" stroke="currentColor"
                                            class="h-15 w-15 float-right pt-3">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                d="M13 10V3L4 14h7v7l9-11h-7z"></path>
                                        </svg></div>
                                    <div class="stat-title">每秒实时流量</div>
                                    <div class="stat-value text-info">{{speed}}</div>
                                </div>
                                <div class="col-sm-12 col-md-4 border stat">
                                    <div class="text-dark"><svg xmlns="http://www.w3.org/2000/svg" fill="none"
                                            viewBox="0 0 24 24" stroke="currentColor"
                                            class="h-15 w-15 float-right pt-3">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                                        </svg></div>
                                    <div class="stat-title">运行时长</div>
                                    <div class="stat-value">{{secToTime(spend)}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card card-preview">
                        <div class="card-inner">

                            <h6><em class="icon ni ni-info"></em> 工具说明</h6>
                            <div class="accordion-inner">

                                <p>多线程消耗流量,web版流量杀手</p>
                                <p>此工具可以以浪费的形式消耗你的流量</p>

                                <p>
                                    Tips: 如手机套餐内含头条系，阿里系，百度系等定向流量，填写免流量的资源URL，即可直接消耗免费的定向流量</p>
                                <p>如果是要消耗机场流量,建议使用<a href="./jiedian.txt">海外节点</a>,速度可能会更快</p>
                                <p>注：虽支持可自定义下载地址 但无法请求跨域链接</p>
                                <p>
                                    <hr id="userIp">
                                    <hr>
                                    <hr>
                                <p> 感谢您对流量消耗事业做出的贡献!</p>
                                <p> 如您需要办理大流量卡，欢迎进入 <a
                                        href="https://gantanhao.vip/91haoka_platform/#/minishop?share_id=426519&shop_name=%25E5%25BC%25BA%25E5%25BC%25BA%25E5%258F%25B7%25E5%258D%25A1">
                                        强强号卡 </a> 查看近日好卡</p>
                                <p>您的访问信息如下：</p>
                                <li class="nk-menu-item ">
                                    <p class="text-danger">
                                        <script>ipinfo()</script>
                                    </p>
                                    <p>
                                </li>
                                <img src="https://ip.vv1234.cn/ipx/" onError="this.src='https://tool.lu/netcard/'">
                                </p>
                                <!-- <a href="old-index.html" class="nk-menu-link nk-ibx-action-item">→ 点我切换回旧版 ←</a> -->
                                <hr>
                                <!-- <p>最近更新: <a href="version-update.php" target="_blank" rel="noopener"
                                        data-pjax-state="">20220822</a> </p> -->
                                <p>功能优化:对于网络波动及第三方资源访问故障等网络错误问题造成的执行中断,改为仍然强制执行!</p>
                                <p>为降低终端设备CPU占用,暂时关闭网页特效,默认线程调整为1</p>
                                <p>总访问次数：
                                    <span id="busuanzi_container_page_pv">
                                        <span id="busuanzi_value_page_pv"></span>次
                                    </span>
                                </p>
                                <hr>
                                <script id="LA-DATA-WIDGET" crossorigin="anonymous" charset="UTF-8"
                                    src="https://v6-widget.51.la/v6/JjhvoI5bfYbANJBZ/quote.js?theme=0&f=12&display=1,1,1,1,0,1,1,1"></script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mt-5 text-center">
                <p id='hitokoto' class="text-gray"></p>
                <a href="https://www.qqwj.tk/llss/" class="btn btn-sm btn-outline-light ">
                    <em class="icon ni ni-heart"> 收藏本页</em> <em class="icon ni ni-heart"> </em>
                </a>
                <br />

                <br />
                <a href="https://www.qqwj.tk/llss/" class="btn btn-sm btn-outline-light ">
                    <span class="nk-menu-link nk-ibx-action-item">https://www.qqwj.tk/llss/</span>
                </a>
            </div>
        </div>
        <!-- content @d -->
        <div class="nk-footer nk-footer-fluid bg-lighter">
            <div class="container-xl">
                <div class="nk-footer-wrap">
                    <div class="nk-footer-copyright"> &copy; 2022 <a href='https://qqwj.tk'>强强玩机 </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer @e -->
    </div>
    <!-- wrap @e -->
    <script src="//cdn.staticfile.org/jquery/3.6.0/jquery.min.js"></script>
    <script src="//cdn.staticfile.org/bootstrap/4.6.1/js/bootstrap.bundle.min.js"></script>
    <script src="//cdn.staticfile.org/layer/3.5.1/layer.js"></script>
    <script src="js/nioapp.min.js"></script>
    <script src="js/script.js"></script>
    <script src="js/common.js"></script>

    <script>
        var plugin_id = 5;
        var plugin_is_star = 0;
        $("#star-btn-text").text(plugin_is_star ? '取消收藏' : '添加收藏');
        $(document).ready(function () {
            $('.dark-switch').on("click", function (e) {
                if ($("body.dark-mode").length <= 0) {
                    document.cookie = 'darkmode=1';
                } else {
                    document.cookie = 'darkmode=0';
                }
            });
        })
    </script>

    <script src="//cdn.staticfile.org/vue/2.6.14/vue.min.js"></script>
    <script src="//cdn.staticfile.org/axios/0.26.0/axios.min.js"></script>
    <script>
        var errors = null
        new Vue({
            el: '#app',
            data: {
                set: {
                    input: 'https://fcfe4577ce22fc1f020178b536ca3cbc.dlied1.cdntips.net/dlied1.qq.com/qqweb/QQ_1/android_apk/Androidqq_8.4.8.4810_537065343.apk?mkey=5f8e682d7060569e&f=954e&cip=11',
                    output: '',
                    infinite: true,
                    status: false,
                    thread: 1,
                },
                tasks: [],
                speed: '0.00B/s',
                spend: 0,
                waste: 0,
                timer: null,
                cancelSource: axios.CancelToken.source()
            },
            watch: {
                async 'set.status'(newVal) {
                    if (newVal) {
                        this.cancelSource = axios.CancelToken.source()
                        this.timer = setInterval(() => {
                            this.speed = this.changeDownloadSpeed(this.tasks.reduce(function (prev, curr) {
                                return prev + curr;
                            }, 0));
                            this.spend++
                        }, 1000)
                        do {
                            await new Promise(resolve => {
                                let task = []
                                for (let i = 0; i < this.set.thread; i++) {
                                    task.push(this.download(Math.random().toString(36).substr(2, 10)))
                                }
                                Promise.all(task).finally(resolve)
                            })
                        } while (this.set.status && this.set.infinite)
                    } else {
                        clearInterval(this.timer)
                        this.cancelSource.cancel()
                    }
                }
            },
            methods: {
                run() {
                    this.set.status = !this.set.status
                },
                download(id) {
                    let loaded = 0
                    let speed = 0
                    let timestamp = new Date().getTime()
                    let that = this
                    const index = this.tasks.push(speed) - 1
                    return axios.request({
                        url: this.set.input,
                        params: {
                            [id]: id,
                        },
                        cancelToken: this.cancelSource.token,
                        onDownloadProgress: function (progressEvent) {
                            // 处理原生进度事件
                            const now = new Date().getTime();
                            speed = (progressEvent.loaded - loaded) / (now - timestamp) * 1000
                            that.tasks[index] = speed
                            that.waste += progressEvent.loaded - loaded
                            loaded = progressEvent.loaded
                            timestamp = now
                        },
                    }).catch(e => {
                        if (!axios.isCancel(e)) {
                            layer.msg(e.message, { icon: 2 })
                            //  this.set.status = false
                            this.set.status = true
                        }
                    }).finally(() => {
                        delete that.tasks[index]
                    })
                },
                secToTime(s) {
                    let t = '';
                    if (s > -1) {
                        let hour = Math.floor(s / 3600)
                        let min = Math.floor(s / 60) % 60
                        let sec = s % 60
                        if (hour > 0) {
                            if (hour < 10) {
                                t += '0'
                            }
                            t = hour + "h"
                        }
                        if (hour > 0 || min > 0) {
                            if (min < 10) {
                                t += '0'
                            }
                            t += min + "m"
                        }
                        if (sec < 10) {
                            t += '0'
                        }
                        t += sec + 's'
                    }
                    return t
                },
                changeFilesize: (filesize) => {
                    filesize = parseInt(filesize);
                    let size = "";
                    if (filesize === 0) {
                        size = "0.00 B"
                    } else if (filesize < 1024) { //小于1KB，则转化成B
                        size = filesize.toFixed(2) + " B"
                    } else if (filesize < 1024 * 1024) { //小于1MB，则转化成KB
                        size = (filesize / 1024).toFixed(2) + " KB"
                    } else if (filesize < 1024 * 1024 * 1024) { //小于1GB，则转化成MB
                        size = (filesize / (1024 * 1024)).toFixed(2) + " MB"
                    } else { //其他转化成GB
                        size = (filesize / (1024 * 1024 * 1024)).toFixed(2) + " GB"
                    }
                    return size;
                },
                changeDownloadSpeed(filesize) {
                    filesize = this.changeFilesize(filesize);
                    return filesize.replace(/\s([K|M|G|B]*)B{0,1}/, '$1/s')
                }
            },
        })
    </script>

    <script>document.onkeydown = function () {
            if (window.event && window.event.keyCode == 123) {
                alert("F12被禁用");
                event.keyCode = 0;
                event.returnValue = false;
            }
            if (window.event && window.event.keyCode == 13) {
                window.event.keyCode = 505;
            }
            if (window.event && window.event.keyCode == 8) {
                alert(str + "\n请使用Del键进行字符的删除操作！");
                window.event.returnValue = false;
            }
        }
    </script>


    <script>document.oncontextmenu = function (event) {
            if (window.event) {
                event = window.event;
            } try {
                var the = event.srcElement;
                if (!((the.tagName == "INPUT" && the.type.toLowerCase() == "text") || the.tagName == "TEXTAREA")) {
                    return false;
                }
                return true;
            } catch (e) {
                return false;
            }
        }
    </script>



</body>

</html>
